body{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
h1{
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.redirect{
    color: white;
    background-color: black;
    opacity: 100%;
    transition: 1s ease;
}
.find{
    opacity: 0%;
    color: white;
    background-color: black;
    transition: 1s ease;
}
.containerHover:hover  .find{
    opacity: 100%;
}
.containerHover:hover .redirect{
    opacity: 0%;
}